<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="DbFargoApplicationEntities" value="server=p3nwplsk12sql-v11.shr.prod.phx3.secureserver.net; database=DbFargoApplication;uid=FargoDB;password=Fargo@123;" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

	  <add key="BasicAuthenticationCredentials" value="QXpzMktlalUxQVJ2SUw1SmRKc0FSYlYyZ0RyV21wT0I6aGlwR3ZGSmJPeHJpMzMwYw====" />
	  <add key="BusinessShortCode" value="174379" />
	  <add key="PasswordKey" value="bfb279f9aa9bdbcf158e97dd71a467cd2e0c893059b10f78e6b72ada1ed2c919" />
	  <add key="ETR_URL" value="https://52.168.16.149:8010/api/v2.0/transaction/new" />
	  <add key="SAP_URL" value="http://fc-podev.fargocourier.co.ke:50000/RESTAdapter/webserver/mobileapp/salesorder" />
	  <add key="MPesaGenerateAccessTokenURL" value="https://sandbox.safaricom.co.ke/oauth/v1/generate?grant_type=client_credentials" />
	  <add key="MPesaInitiateRequestURL" value="https://sandbox.safaricom.co.ke/mpesa/stkpush/v1/processrequest" />
	  <add key="MPesaCallbackRequestURL" value="https://fargo.speed18.com/api/MPesaTransactionAPI/MPesaTransactionRequest" />
	  <add key="SAPAuthorizationHeader" value="Basic ZnJlaWdoX3VzZXI6RmFyZ29AMjAyMg==" />
	  <add key="ETRAccessKey" value="3ZixXmuHFk7qyXO+2sfxPxFmEROn4m13mir+gRjFFfk=" />
	  <add key="ETRClientId" value="OiZqm01q9S51y5J" />

	  <!--<add key="DomainName" value="https://fargo.speed18.com/"/>-->
	  <add key="DomainName" value="http://localhost:6492/" />

    <!--<add key="SMTPServer" value="smtp.gmail.com"/>
    <add key="PortNumber" value="587"/>
    <add key="SenderEmailId" value="amit.singh@techbizbuzz.com"/>
    <add key="SenderPassword" value="Matarani@09"/>
    <add key="IsSSLEnabled" value="true"/>-->
    
    <!--<add key="from" value="gpjc@speed18.com"/>
    <add key="password" value="Girish@123"/>
    <add key="host" value="relay-hosting.secureserver.net"/>
    <add key="port" value="25"/>-->
    
    <add key="from" value="amit.singh@techbizbuzz.com" />
    <add key="password" value="Matarani@09" />
    <add key="host" value="relay-hosting.secureserver.net" />
    <add key="port" value="25" />
    
  </appSettings>

  <connectionStrings>
    <!--<add name="GPJCAdministratorDBEntities" connectionString="metadata=res://*/Speed18DataAccessLayer.csdl|res://*/Speed18DataAccessLayer.ssdl|res://*/Speed18DataAccessLayer.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=YourServerName;initial catalog=DatabaseName;user id=YourUserName;password=YourPassword;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="DbFargoApplicationEntities" connectionString="metadata=res://*/FargoDataAccessLayerEF.csdl|res://*/FargoDataAccessLayerEF.ssdl|res://*/FargoDataAccessLayerEF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=p3nwplsk12sql-v11.shr.prod.phx3.secureserver.net;initial catalog=DbFargoApplication;user id=FargoDB;password=Fargo@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.net>
    <defaultProxy useDefaultCredentials="true" />
  </system.net>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer></configuration>