
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Invoice</title>
</head>
<body>
    <div>
        <table style="width:192px; background-color:white;" cellpadding="2" cellspacing="2">
            <tbody>
                <tr><td colspan="2" align="center"><br />FARGO</td></tr>
                <tr><td colspan="2" align="center"> --START OF FISCAL RECEIPT--</td></tr>
                <tr><td>&nbsp;&nbsp;&nbsp;Trans No:</td><td><label id="lblTransNo"></label></td></tr>
                <tr><td>&nbsp;&nbsp;&nbsp;Date:<td></td><td><label id="lblDate"></label></td></tr>
                <tr><td>&nbsp;&nbsp;&nbsp;Transaction By:</td><td><label id="lblTransactionBy"></label></td></tr>
                <tr><td>&nbsp;&nbsp;&nbsp;Customer Pin:</td><td><label id="lblCustomerPin"></label></td></tr>
                <tr><td>&nbsp;&nbsp;&nbsp;Customer Mobile:</td><td><label id="lblCustomerMobile"></label></td></tr>
                <tr><td>&nbsp;&nbsp;&nbsp;Payment By:</td><td><label id="lblPaymentBy"></label></td></tr>
                <tr><td>&nbsp;&nbsp;&nbsp;Reference:</td><td><label id="lblReference">Retail Sale</label></td></tr>
                <tr><td colspan="2" align="center"> --PAYMENT DETAILS--</td></tr>
                <tr><td>&nbsp;&nbsp;&nbsp;Invoice Amt. Excl. TAX:<td></td><td><label id="lblInvoieAmount"></label></td></tr>
                <tr><td>&nbsp;&nbsp;&nbsp;VAT 16%:</td><td><label id="lblVAT"></label></td></tr>
                <tr><td>&nbsp;&nbsp;&nbsp;Amount Due:</td><td><label id="lblAmountDue"></label></td></tr>
                <tr><td>&nbsp;&nbsp;&nbsp;Total Paid:</td><td><label id="lblTotalPaid"></label></td></tr>
                <tr><td colspan="2" align="center">_________________________________</td></tr>
                <tr><td>&nbsp;&nbsp;&nbsp;CU No:<td></td><td><label id="lblCUNo"></label></td></tr>
                <tr><td colspan="2">&nbsp;&nbsp;&nbsp;Fiscal Transaction Number:<br /><label id="lblFiscalTransNo"></label></td></tr>

                <tr><td colspan="2" align="center"> --END OF FISCAL RECEIPT--<br /></td></tr>
            </tbody>
        </table>
    </div>
</body>
</html>
